/* flip speed goes here */
.flip-container
    transition: 0.6s
    transform-style: preserve-3d
    position: relative
    
.flip-enter
    transform: rotateY(0deg)

.flip-enter.flip-enter-active
    transform: rotateY(360deg)

.front, .back
    backface-visibility: hidden
    position: absolute
    top: 0
    left: 0

.front
    z-index: 2

.back
    transform: rotateY(180deg)
